mat-card {
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(83, 83, 83, 0.1);
}

.dashboard-wrapper{
  padding-bottom: 100px;
}

mat-card-content{  width: 100%;
  overflow: scroll;
}

table tr th{
  background-color: var(--primary);
  color: white;
}

mat-card-content {
  width: 100%;
  overflow: hidden;
}

.chartVisible {
  overflow: hidden;
  height: 130px;
}

.chartHidden {
  width: 100%;
  height: 500px;
}


#assetAllocationChart {
  width: 100% !important;
  height: auto !important;
}





